<h1>SimplePages#index</h1>
<p>Welcome! The date and time is <%= Time.now %></p>
<p>Find me in app/views/simple_pages/index.html.erb</p>
<% test_variable = 42 %>
<button class="aa">df</button>

<%= image_tag("html-logo.png", class: "img-responsive my-image") %>